/*  CSS Document */
@import url("typography.css");




:root {
    --main-bg-color: #549CBE;
    --logo-bg-color: #f05522;
}

body {
    background-color: var(--main-bg-color);
}

/* ************************************************************************** */

/* style start page - start */

/* style small screen of start page - start */

    .logo {
        padding: 35% 0 6.5% 0;
    }

    .logo-svg {
        fill: var(--logo-bg-color);
    }

    @keyframes flash__stroke {
        0% {
            stroke: white;
          }
          50% {
            stroke: transparent;
          }
          100% {
             stroke: white;
          }
        }


    .logo-path {
        /* stroke: white; */
        stroke-width: 5px;
        animation-name: flash__stroke;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    .start-page-h1 {
        color: var(--logo-bg-color);
        -webkit-text-stroke: 2px white;
    }

    .carousel-wrapper {
        text-align: center;
        padding: 30px 0 0 0;
        background-color: rgb(0, 0, 0, .5);
        border-radius: 9% 9% 0 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .arrow-to-hp {
        margin-bottom: 30px;
    }

/* style small screen of start page - end */


/* style medium screen of start page - start */

@media screen and (max-width: 960px) and (min-width: 600px) {

    .logo {
        padding: 20% 0 4% 0;
    }

    .start-page-h1 {
        color: white;
        -webkit-text-stroke: 3px var(--logo-bg-color);
    }

    .carousel-wrapper {
        max-height: 45%;
        overflow: hidden;
    }

}

/* style medium screen of start page - end */

/* style large screen of start page - start */

@media (min-width: 960px) {

    .logo {
        padding: 10% 0 3% 0;
    }

    .start-page-h1 {
        text-shadow:
            1px 1px 1px rgb(32, 59, 71, 1.00),
            1px 2px 1px rgba(32, 59, 71, 1.00),
            1px 3px 1px rgba(32, 59, 71, 1.00),
            1px 4px 1px rgba(32, 59, 71, 1.00),
            1px 5px 1px rgba(32, 59, 71, 1.00),
            1px 6px 1px rgba(32, 59, 71, 1.00),
            1px 7px 1px rgba(32, 59, 71, 1.00),
            1px 8px 1px rgba(32, 59, 71, 1.00),
            1px 9px 1px rgba(32, 59, 71, 1.00),
            1px 10px 1px rgba(32, 59, 71, 1.00),
            2px 20px 5px rgba(32, 59, 71, .4),
            3px 25px 10px rgba(32, 59, 71, .2),
            4px 30px 20px rgba(32, 59, 71, .3),
            5px 35px 50px rgba(32, 59, 71, .4);
    }

    img {
        max-width: 30%;
        margin: auto;
    }

}

/* style large screen of start page - end */

/* style start page - end */

/* ************************************************************************** */

/* style home page - start */

/* style small screen of home page - start */

.logo-svg {

    text-shadow:3px 3px 0 rgb(32, 59, 71, 1.00);
}

.logo-path-home {
    stroke: white;
    stroke-width: 2px;
}

.hamburge {
    width: 80px;
    height: 80px;
    fill: var(--logo-bg-color);
    background-color: rgb(216, 209, 189, .5);
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
    border-radius: 7px;
    border-right: 3px solid #db9077;
    border-bottom: 3px solid #f05522;
    /* box-shadow: 
    1px 1px 1px rgb(32, 59, 71, 1.00),
    1px 2px 1px rgba(32, 59, 71, 1.00),
    1px 3px 1px rgba(32, 59, 71, 1.00),
    1px 4px 1px rgba(32, 59, 71, 1.00),
    1px 5px 1px rgba(32, 59, 71, 1.00),
    1px 6px 1px rgba(32, 59, 71, 1.00),
    1px 7px 1px rgba(32, 59, 71, 1.00),
    1px 8px 1px rgba(32, 59, 71, 1.00),
    1px 9px 1px rgba(32, 59, 71, 1.00),
    1px 10px 1px rgba(32, 59, 71, 1.00),
    2px 20px 5px rgba(32, 59, 71, .4),
    3px 25px 10px rgba(32, 59, 71, .2),
    4px 30px 20px rgba(32, 59, 71, .3),
    5px 35px 50px rgba(32, 59, 71, .4); */
}

.heading-h2 {
    text-shadow:
    1px 1px 1px rgb(32, 59, 71, 1.00),
    1px 2px 1px rgba(32, 59, 71, 1.00),
    1px 3px 1px rgba(32, 59, 71, 1.00),
    1px 4px 1px rgba(32, 59, 71, 1.00),
    1px 5px 1px rgba(32, 59, 71, 1.00),
    1px 6px 1px rgba(32, 59, 71, 1.00),
    1px 7px 1px rgba(32, 59, 71, 1.00),
    1px 8px 1px rgba(32, 59, 71, 1.00),
    1px 9px 1px rgba(32, 59, 71, 1.00),
    1px 10px 1px rgba(32, 59, 71, 1.00),
    2px 20px 5px rgba(32, 59, 71, .4),
    3px 25px 10px rgba(32, 59, 71, .2),
    4px 30px 20px rgba(32, 59, 71, .3),
    5px 35px 50px rgba(32, 59, 71, .4);
}


/* style small screen of home page - end */

/* style medium screen of home page - start */

@media screen and (max-width: 960px) and (min-width: 600px) {}

/* style medium screen of home page - end */

/* style large screen of home page - start */

@media screen and (max-width: 960px) and (min-width: 600px) {}

/* style large screen of home page - end */

/* style home page - end */

/* ************************************************************************** */

/* ************************************************************************** */

/* style about page - start */

/* style small screen of about page - start */

/* style small screen of about page - end */

/* style medium screen of home page - start */

@media screen and (max-width: 960px) and (min-width: 600px) {}

/* style medium screen of home page - end */

/* style large screen of home page - start */

@media screen and (max-width: 960px) and (min-width: 600px) {}

/* style large screen of home page - end */

/* style about page - end */

/* ************************************************************************** */

/* ************************************************************************** */

/* style contact page - start */

/* style small screen of contact page - start */

/* style small screen of contact page - end */

/* style medium screen of contact page - start */

@media screen and (max-width: 960px) and (min-width: 600px) {}

/* style medium screen of contact page - end */

/* style large screen of contact page - start */

/* style large screen of contact page - end */

/* style contact page - end */

/* ************************************************************************** */